/* Global container styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures footer stays at the bottom */
  min-height: 100vh; /* Full height of the viewport */
  overflow-x: hidden; 
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Bakery name styles */
header .bakery-name {
  font-family: 'Cinzel Decorative', serif;
  font-size: 2.0em; /* Adjusted for better fitting */
  text-align: center;
  color: #272e22; /* Text color from palette */
  margin: 0;
  flex-grow: 1; /* Ensures it takes available space */
  display: flex;
  justify-content: center;
}

/* Back button styles */
.back-button {
  font-size: 1.2em;
  text-decoration: none;
  color: #f8be49; /* Color from palette */
}

/* Product container */
.product-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: flex-start; /* Aligns content at the top */
  flex-direction: row;
  width: 100%;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 50px; /* Adds space between the content and the footer */
}

/* Product image */
.product-image {
  width: 30%; /* Reduce the width of the image container */
  padding-right: 20px;
}

.product-image img {
  width: 100%;
  height: auto; /* Maintain the aspect ratio */
  border: 5px solid #f8be49; /* Border color from palette */
  border-radius: 10px;
}

/* Product details */
.product-details {
  width: 50%;
  padding-left: 20px;
}

.product-details h2,
.product-details p {
  font-size: 1.2em;
  margin: 10px 0;
  line-height: 1.6;
}

.product-details .toggle-title {
  cursor: pointer;
  font-size: 1.2em;
  color: #272e22; /* Text color from palette */
}

.product-details .toggle-content {
  display: none;
  margin-top: 10px;
}

.product-details button {
  background-color: #f8be49; /* Color from palette */
  color: white;
  padding: 15px;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

/* Modal Styling */
.modal {
  display: none; /* Hide by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.modal-content h3 {
  font-family: 'Cinzel Decorative', serif;
  text-align: center;
  color: #272e22;
}

.modal-content p {
  text-align: center;
  color: #76889d;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.quantity-btn {
  font-size: 1.5rem;
  padding: 5px 15px;
  background-color: #f8be49;
  border: 1px solid #e9963c;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-btn:hover {
  background-color: #e9963c;
}

#quantity {
  width: 50px;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 10px;
  border: 1px solid #76889d;
  padding: 5px;
}

#submitOrder {
  background-color: #f8be49;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 20px;
}

#submitOrder:hover {
  background-color: #e9963c;
}


/* Make sure the footer always stays at the bottom */
html, body {
  height: 100%;
  margin: 0;
}

/* Footer styles */
footer {
  background-color: #272e22;
  color: #f8be49;
  text-align: center;
  padding: 20px;
  font-size: 1em;
  margin-top: 50px; /* Keeps some space between footer and main content */
  position: relative;
}
